.dropdown {
	border: 1px solid #7F9DB9;
	cursor: pointer;
	background-color: white;
	margin-bottom: 1px;
	height: 16px;
	width: 220px;
}

.fake-dropdown-button {
	float: right;
	width: 16px;
	height: 20px;
	overflow: hidden;
}

.fake-dropdown-button select {
	margin-left: -10px;
	margin-top: -1px;
}

.dropdown-content {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	background-color: #CCEEFF;
	height: 200px;
	overflow-y: scroll;
	margin-left: 1px;
	margin-top: -1px;
	z-index: 100;
}

.dropdown-content label {
	display: block;
}

.selected-item {
	background-color: #99BBDD;
}