simplePost
$postedValue.?
$stringField.?
$intField
$floatField.?
$enumField.?
$stringArrayField.?.each(value) [[$value]].before('[').delimiter(', ').after(']')
$objectArrayField.?.each(value) [[$value.web]].before('[').delimiter(', ').after(']')