Hello, $who;!
<a href="$urlfor.action('helloName', ['Bobby'])">String Parameter</a>
<a href="$urlfor.action('helloUser', [1234])">Object Parameter</a>
<a href="$urlfor.action('form', 'basic')">Basic Form</a>

<a href="$urlfor.action('component', 'index')">Component</a>