<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Welcome to Sails, a Java web application framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> 
	$style.builtin('sails.css')
</head>

<body>
	<div id="HomeLogo">
		## TODO: This should be $image.builtin - need to change Image to allow control of UrlType
		<img src="/common/images/sailslogo.jpg" alt="Sails - Simplifying Java Webapps" />
		<h1>Sails. Simplifying Java webapps.</h1>
	</div>
	
	<div id="HomeNavigation">
		<a href="http://blog.opensails.org">blog</a> | 
		<a href="http://trac.opensails.org/sails/wiki/BluePrints">Documentation/Tutorials/How-tos</a>
	</div>
	
	<div id="HomeAbout">
		<p>You have just put Sails on Java! Now you can develop web applications in Java at a reasonable pace.</p>
	</div>
</body>