$form.start
	$form.text('example.text').label('Example Text')
	$form.select('example.select').label('Example Select').model($exampleSelectModel)
	$form.checkbox('example.checkbox').label('Example Checkbox')
	$form.radio('example.radio').label('Example Radio')
	$form.textarea('example.textarea').label('Example Textarea')
	$form.submit('Push Me')
$form.end