<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
 xmlns="http://java.sun.com/xml/ns/j2ee" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation=
 "http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
 version="2.4">
    <display-name>$application.projectName</display-name>
    
    <filter>
    	<filter-name>redirect</filter-name>
    	<filter-class>org.opensails.sails.oem.RedirectFilter</filter-class>
		<init-param>
			<param-name>redirect-path</param-name>
			<param-value>/$application.contextPath</param-value>
		</init-param>
    </filter>
    <filter-mapping>
	    	<filter-name>redirect</filter-name>
	    	<url-pattern>/</url-pattern>
    </filter-mapping>    
    
    <servlet>
		<servlet-name>$application.projectName</servlet-name>
		<servlet-class>org.opensails.sails.oem.SailsApplication</servlet-class>
		<init-param>
			<param-name>org.opensails.sails.ISailsApplicationConfigurator</param-name>
			<param-value>$application.configuratorClass</param-value>
		</init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
		<servlet-name>$application.projectName</servlet-name>
		<url-pattern>/$application.contextPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>$application.projectName</servlet-name>
		<url-pattern>/$application.contextPath/*</url-pattern>
    </servlet-mapping>

    <servlet>
		<servlet-name>Common</servlet-name>
		<servlet-class>org.opensails.sails.oem.CommonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Common</servlet-name>
		<url-pattern>/common/*</url-pattern>
    </servlet-mapping>

	<!-- Protect viento scripts -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Viento Templates</web-resource-name>
			<url-pattern>*.vto</url-pattern>
		</web-resource-collection>
		<auth-constraint/> <!-- necessary -->
	</security-constraint>
</web-app>