<html>
<head>
	$require.component(multiselect)
	$require.output
</head>
<body>
	$set(options, [one, two, three, four, five, six, seven, eight, nine, ten])
	
	$multiselect.new('Numbers', $options)
</body>
</html>